* {
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
}
.div-all {
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-points {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.canvas {
  border: 6px solid white;
}
